@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-5xl font-bold leading-[2];
    }

    h2 {
        @apply text-3xl font-semibold leading-[1]
    }

    h3 {
        @apply text-xl leading-[0.5]
    }

    :root {
        --background: 27 100% 95%;
        --foreground: 27 5% 0%;
        --card: 27 50% 90%;
        --card-foreground: 27 5% 10%;
        --popover: 27 100% 95%;
        --popover-foreground: 27 100% 0%;
        --primary: 27 95% 39.4%;
        --primary-foreground: 0 0% 100%;
        --secondary: 27 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: -11 30% 85%;
        --muted-foreground: 27 5% 35%;
        --accent: -11 30% 80%;
        --accent-foreground: 27 5% 10%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 27 5% 90%;
        --border: 27 30% 50%;
        --input: 27 30% 18%;
        --ring: 27 95% 39.4%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 27 50% 5%;
        --foreground: 27 5% 90%;
        --card: 27 50% 0%;
        --card-foreground: 27 5% 90%;
        --popover: 27 50% 5%;
        --popover-foreground: 27 5% 90%;
        --primary: 27 95% 39.4%;
        --primary-foreground: 0 0% 100%;
        --secondary: 27 30% 10%;
        --secondary-foreground: 0 0% 100%;
        --muted: -11 30% 15%;
        --muted-foreground: 27 5% 60%;
        --accent: -11 30% 15%;
        --accent-foreground: 27 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 27 5% 90%;
        --border: 27 30% 18%;
        --input: 27 30% 18%;
        --ring: 27 95% 39.4%;
        --radius: 0.5rem;
    }

}

@layer components {
    .app-container {
        @apply w-screen h-screen bg-gradient-to-b from-[#632e03] to-black;
    }
}

@layer utilities {
    .fit-parent {
        @apply block w-screen h-screen
    }

    /* Centers children using flexbox. */
    .center-container {
        @apply flex items-center justify-center;
    }

    /* Aligns children in a column direction using flexbox. */
    .col-container {
        @apply flex flex-col
    }

    /* Aligns children in a row direction using flexbox. */
    .row-container {
        @apply flex flex-row
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
